/MinuteMed/target/
/MinuteMed/nbproject/
MinuteMed/src/test/java/fr/devsquad/minutemed/specialization/SpecializationEnumTest.java
MinuteMed/src/test/java/fr/devsquad/minutemed/specialization/SpecializationEnumTest.java
/nbproject/
/ProjetMinuteMed/nbproject/
/ProjetMinuteMed/target/
/ClientMinuteMed/Application/MinuteMed/node_modules