/MinuteMed/target/
/MinuteMed/nbproject/
MinuteMed/src/test/java/fr/devsquad/minutemed/specialization/SpecializationEnumTest.java
MinuteMed/src/test/java/fr/devsquad/minutemed/specialization/SpecializationEnumTest.java
