<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <app-leftbar class="collapse in col-md-2 nopadding" id="sidebar"></app-leftbar>
    <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
      <a href="#sidebar" data-toggle="collapse">
        <i class="fa fa-navicon fa-lg"></i>
      </a>
      <!-- ici mettre -->
      <h2 class="sub-header">
        Posologies de Vieira Noro Kévin </h2>
      <br>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                <label>Date:</label>
                <input>
              </td>
              <td>
                <button routerLink="/consultposologie">Filtrer</button>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Demandé par</th>
              <th>Réalisé par</th>
              <th>Effectué à</th>
              <th>Etat</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>14/02/2016</td>
              <td>Radiologie du fémur</td>
              <td>Zecchini</td>
              <td>en attente</td>
              <td>en attente</td>
              <td>crée</td>
            </tr>
            <tr>
              <td>14/02/2016</td>
              <td>Radiologie du fémur</td>
              <td>Zecchini</td>
              <td>en attente</td>
              <td>en attente</td>
              <td>crée</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ici mettre -->
    </main>
  </div>
</div>