<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <app-leftbar class="collapse in col-md-2 nopadding" id="sidebar"></app-leftbar>
    <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
      <a href="#sidebar" data-toggle="collapse">
        <i class="fa fa-navicon fa-lg"></i>
      </a>
      <!-- ici mettre -->
      <h2 class="sub-header">Diagnostics de Vieira Noro Kévin </h2>
      <br>
      <p-table [columns]="cols" [value]="diagnosticsTmp" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th >
                  Action
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" >
                    {{rowData[col.field]}}
                </td>
                <td>
                    <button pButton type="button" icon="fa-search" iconPos="left" class="reasonButton" routerLink="/record/{{this.id}}/diagnostics/{{rowData.identifiant}}"></button>
                </td>
            </tr>
          </ng-template>
        </p-table>
    </main>
  </div>
</div>
