h2 {
  color:#0063af;
}

label {
  color:#0063af;
}

thead {
  color:#0063af;
}

.table-striped {
  background-color: #ceeefb;
  color:#0063af;
}

table {
  border-style: 5px solid blue;
  border-radius: 8px;
}

tr {
  font-size: 16px;
}

/* à mettre pour left bar info */
.margin15 {
  margin-left: 15px;
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;
}
