<app-nav-bar></app-nav-bar>

<div class="container-fluid">
    <div class="row">
        <app-leftbarinfo class="collapse in" id="sidebar"></app-leftbarinfo>
        <a href="#sidebar" data-toggle="collapse" class="margin15">
            <i class="fa fa-navicon fa-lg"></i>
        </a>
        <main class="col-md-9 col-xs-11 p-l-2 p-t-2 mx-auto">
            <h2 class="sub-header">Recherche de Dossiers Médicaux</h2>
            <br/>
            <p-table #dt [columns]="cols" [value]="records" [paginator]="true" [rows]="15">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" [pSelectableRow]="rowData">
                            {{rowData[col.field]}}
                        </td>
                        <td>
                            <button pButton type="button" icon="fa-search" iconPos="left" class="reasonButton" routerLink="/record/{{rowData.id}}"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </main>
    </div>
</div>