
<app-nav-bar></app-nav-bar>
<div class="container-fluid" >
  <div class="row">
    <app-leftbar class="collapse in col-md-2 nopadding" id="sidebar"></app-leftbar>
    <div class="col-sm-9 col-md-10  main" *ngIf="diagnostic != null && doctorCreate != null">
      <h2 class="sub-header">Consultation du Diagnostic "{{diagnostic.title}}" </h2>
      <div class="row">
        <div class="col-lg-6">
          <img class="img-circle" src="assets/examen.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Diagnostic:</h2>
          <div class="container">
              <form>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Médecin Demandeur:</label>
                    <div class="col-sm-3">
                      <input  class="form-control" disabled="disabled" value="{{doctorCreate.lastName}} {{doctorCreate.firstName}}">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Date de Création:</label>
                      <div class="col-sm-3">
                        <input  class="form-control" type="datetime" disabled="disabled" value="{{diagnostic.creationDate}}">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Motif:</label>
                        <div class="col-sm-3">
                            <input  class="form-control" value="{{diagnostic.title}}" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Diagnostique:</label>
                        <div class="col-sm-3">
                          <textarea  class="form-control" rows="5" disabled="disabled">{{diagnostic.body}}</textarea>
                        </div>
                    </div>

                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Créer</button>
                      <button type="submit" class="btn btn-primary">Enregistrer en Brouillon</button>
                    </div>
                  </div>
                </form>

          </div> <!-- /container -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="table-responsive">
          <table class="table table-striped">

          </table>
      </div>
    </div>
  </div>
</div>
