<app-nav-bar></app-nav-bar>
<div class="col-sm-9 col-md-10  main">
  <div class="row">
    <app-leftbar class="collapse in col-md-2 nopadding" id="sidebar"></app-leftbar>
    <div class="col-lg-6">
      <h2 class="sub-header">Consultation Posologie 554547</h2>
      <img class="img-circle" src="assets/posologie.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Posologie:</h2>
      <div class="container" *ngIf="dosage != null && doctorCreator != null">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Médecin Demandeur:</label>
                <div class="col-sm-3">
                  <input  class="form-control" disabled="disabled" value="{{doctorCreator.lastname}} {{doctorCreator.firstname}} ">
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Date de Création:</label>
                  <div class="col-sm-3">
                    <input  class="form-control" disabled="disabled" value="{{dosage.creationDate}}">
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Motif:</label>
                    <div class="col-sm-3">
                        <input  class="form-control" value="{{dosage.title}}" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Prescription:</label>
                    <div class="col-sm-3">
                        <input  class="form-control" value="{{dosage.body}}" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Diagnostic:</label>
                    <div class="col-sm-3">
                        <input  class="form-control" value="{{dosage.diagnosticId}}" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date de début du traitement:</label>
                    <div class="col-sm-3">
                        <input  class="form-control" value="{{dosage.beginDosage}}" disabled="disabled">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date de fin de traitement:</label>
                    <div class="col-sm-3">
                        <a><input  class="form-control" value="{{dosage.endDosage}}" disabled="disabled"></a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Dernière administration:</label>
                    <div class="col-sm-3">
                        <input  class="form-control" value="{{lastAdministration}}" disabled="disabled">
                    </div>
                </div>

      </div> <!-- /container -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="assets/rapportPosologie.jpg" alt="Generic placeholder image" width="140" height="140">

      <div class="container">
        <br>
        <p-dataView [value]="reportsDosage" [paginator]="true" [rows]="4">
          <p-header><h2>Rapport</h2></p-header>
          <p-footer>
            <input  class="form-control" placeholder="Saisir un Rapport" [(ngModel)]="bodyReport" name="bodyReport">
            <button _ngcontent-c2="" icon="fa-search" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all" (click)="addRapport()">
              Valider Administration</button>
          </p-footer>
          <ng-template let-report pTemplate="listItem">
              <div _ngcontent-c2="" class="ui-g ng-star-inserted" style="border-bottom: 1px solid #d9d9d9">
                  <div _ngcontent-c2="" class="ui-g-12 ui-md-12">
                      <div _ngcontent-c2="" class="ui-g-6">{{report.supervisor.firstname}} {{report.supervisor.lastname}}</div>
                      <div _ngcontent-c2="" class="ui-g-6">{{report.creationDate}}</div>
                  </div>
                  <div _ngcontent-c2="" class="ui-g-12 ui-md-12" style="text-align:center">
                      <textarea class="ui-g-12 ui-sm-12" disabled="true">{{report.body}}</textarea>
                  </div>
              </div>
            </ng-template>
        </p-dataView>
      </div> <!-- /container -->
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
