<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/dashboard.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css//ie-emulation-modes-warning.js"></script>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand" href="#">
            <img src="assets/aphp.png" width="400" height="80" alt="">
          </a>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/searchdmp">Dossier Médical</a></li>
        <li><a href="#">Planning</a></li>
        <li><a href="#">Messagerie</a></li>
        <li><a href="#">Profil</a></li>
        <button pButton type="button" label="Logout" (click)="logout($event)" value="Click" id="logoutBtn" routerLink="/login" class="ui-button-danger"></button>
      </ul>
    </div>
  </div>
</nav>

<div class="decalage"></div>
