<div class="collapse in" id="sidebar">
    <div class="list-group">
        <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa"></i>
            <span class="hidden-sm-down">Examens</span>
        </a>
        <div class="collapse" id="menu1">
            <a routerLink="/dmp/{{this.idMedical}}/createexam" class="list-group-item" data-parent="#menu1">Créer un examen</a>
            <a routerLink="/exams" class="list-group-item" data-parent="#menu1">Voir les examens</a>
        </div>

        <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa"></i>
            <span class="hidden-sm-down">Posologies</span>
        </a>
        <div class="collapse" id="menu2">
            <a routerLink="#" class="list-group-item" data-parent="#menu2">Créer une posologie</a>
            <a routerLink="/posologies" class="list-group-item" data-parent="#menu2">Voir les posologies</a>
        </div>

        <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa"></i>
            <span class="hidden-sm-down">Diagnostics</span>
        </a>
        <div class="collapse" id="menu3">
            <a routerLink="/dmp/{{this.idMedical}}/creatediagnostic" class="list-group-item" data-parent="#menu3">Créer un diagnostic</a>
            <a routerLink="/diagnostics" class="list-group-item" data-parent="#menu3">Voir les diagnostics</a>
        </div>

        <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa"></i>
            <span class="hidden-sm-down">Ordonnances</span>
        </a>
        <div class="collapse" id="menu4">
            <a routerLink="#" class="list-group-item" data-parent="#menu4">Créer une ordonnance</a>
            <a routerLink="/prescriptions" class="list-group-item" data-parent="#menu4">Voir les ordonnances</a>
        </div>

    </div>
</div>