<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10  main">
      <!--<div id='calendar'></div>-->

      <div id="left-menu">
        <p id="doctor"><img src="assets/doctor.png"/></p><br>
        <p>- Docteur SANCHEZ Julien</p>
        <p>- Née le 23/04/1973</p>
        <p>- Affecté à l'Hôpital Henri Mondor</p>
        <p>- Service réanimation</p>
      </div>

      <div id="text-content">
        <p id="title"><b>Bonjour et bienvenue sur notre toute nouvelle application !</b></p><br>
        <p>- Peur de perdre un dossier médical ?<br>
        - Perdre du temps à chercher un dossier médical ?<br>
        - Epuisant de remplir un dossier médical à la main ?</p><br>

        <p>Rassurez-vous, aujourd'hui c'est terminé. Cette application vous permet de gérer un dossier médical de manière numérique.
          Ainsi plus à avoir d'inquiétude concernant la perte d'un dossier médical. Cette application est sécurisée, elle garantit le secret médical.
        </p>
      </div>

      <div id="image-content">
        <img src="assets/home.jpg"/>
      </div>
    </div>
  </div>
</div>