#doctor {
    text-align: center;
}

#title {
    text-align: center;
    font-size: 25px;
}

#text-content {
    font-size: 20px;
}

#image-content {
    text-align: right;
    padding-top: 10px;
}

#left-menu
{
    background-color: #02499A;
    float:left;
    width:30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

#text-content
{
    margin-left: 40%;
}