<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <app-leftbar class="collapse in col-md-2 nopadding" id="sidebar"></app-leftbar>
    <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
      <a href="#sidebar" data-toggle="collapse">
        <i class="fa fa-navicon fa-lg"></i>
      </a>
      <!-- ici mettre -->
      <h2 class="sub-header">Création d'un Diagnostic</h2>
      <br>
      <div class="container">
        <form>
          <div class="form-group row" *ngIf="me != null && md != null">
            <label class="col-sm-2 col-form-label">Médecin Observeur:</label>
            <div class="col-sm-5">
              <input class="form-control" disabled="disabled" value="{{me.lastName}} {{me.firstName}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date de Création:</label>
            <div class="col-sm-5">
              <input class="form-control" disabled="disabled" value="{{today | date:'dd/MM/yyyy'}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Motif:</label>
            <div class="col-sm-5">
              <input class="form-control" [(ngModel)]="title" name="title">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Diagnostic:</label>
            <div class="col-sm-5">
              <textarea class="form-control" rows="5" [(ngModel)]="diagnostic" name="diagnostic"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Ordonnance:</label>
            <div class="col-sm-5">
              <textarea class="form-control" rows="5" placeholder="Laisser vide si pas d'ordonnance" [(ngModel)]="prescription" name="prescription"></textarea>
            </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Ajouter Posologie:</label>
              <div class="col-sm-5">
                  <input type="checkbox" [(ngModel)]="showDosage" name="showDosage">
              </div>
          </div>

          <div id="posologie" *ngIf="showDosage">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Début d'administration:</label>
              <div class="col-sm-5">
                <input class="form-control" type="date" [(ngModel)]="beginDosage" name="beginDosage">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Fin d'administration:</label>
              <div class="col-sm-5">
                <input class="form-control" type="date" [(ngModel)]="endDosage" name="endDosage">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Prescription:</label>
              <div class="col-sm-5">
                <textarea class="form-control" rows="5" [(ngModel)]="descriptionDosage" name="descriptionDosage" placeholder="Consigne d'administration"></textarea>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" (click)="onSubmitCreate()">Créer</button>
              <button type="submit" class="btn btn-primary">Enregistrer en Brouillon</button>
            </div>
          </div>
        </form>

      </div>
      <!-- ici mettre -->
    </main>
  </div>
</div>
